<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">

    <title>Todo List</title>
</head>
<body>
    <div class = "container">
        <form method="post">
            <span th:text="|${errMessage}|"></span>
            <div class="form-group">
                <label for="todoNameInput">Name</label>
                <input type="text" name = "name" class="form-control" id="todoNameInput" aria-describedby="emailHelp" th:value="${beforeTodo.name}">
            </div>
            <div class="form-group">
                <label for="todoTaskDesc">Task Description</label>
                <input type="text" name="task" class="form-control" id="todoTaskDesc" aria-describedby="emailHelp" th:value="${beforeTodo.task}">
            </div>
            <div class="form-group">
                <label for="todoDueDate">Due date</label>
                <input type="datetime-local" name="dueDate" class="form-control" id="todoDueDate" aria-describedby="emailHelp" th:value="${beforeTodo.dueDate}">
            </div>
            <input type="submit" class = "btn btn-success" value="TODO 등록">
        </form>
    </div>


  <script src="webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
  <script src="webjars/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>