<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">

    <title>Todo List</title>
</head>
<body>
    <div class = "container">
        <script type="text/javascript">
            alert("자신이 생성한 글만 삭제할 수 있습니다!");
            history.go(-1);
        </script>
    </div>


  <script src="webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
  <script src="webjars/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>